/* Cambiar el cursor a una manita cuando pasa por la tabla */
.table-hover tbody tr:hover {
    cursor: pointer;
}

/* button PENDING */
.btn-reset {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
}
.btn-reset:hover {
    border-color: #4CAF50;
    color: black;
}

.complete {
    background-color: #FDBE50;
    color: rgb(0, 0, 0);
    /* Para asegurarse de que el texto sea legible */
    padding: 5px 10px;
    /* Ajustar el relleno según sea necesario */
    border-radius: 10px;
    /* Para redondear los bordes */
    display: inline-block;
    /* Para que ocupen solo el ancho del contenido */
    font-weight: bold;
}
/* button COMPLETE */
.btn-complete {
    background-color: #FDBE50;
    border-color: #FDBE50;
    color: white;
}
.btn-complete:hover {
    border-color: #FDBE50;
    color: black;
}

.created {
    background-color: rgb(253, 148, 28);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

.pending {
    background-color: rgb(79, 185, 192);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

/* button PENDING */
.btn-pending {
    background-color: rgb(79, 185, 192);
    border-color: rgb(79, 185, 192);
    color: white;
}
.btn-pending:hover {
    border-color: rgb(79, 185, 192);
    color: black;
}

.active {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    /* Para asegurarse de que el texto sea legible */
    padding: 5px 10px;
    /* Ajustar el relleno según sea necesario */
    border-radius: 10px;
    /* Para redondear los bordes */
    display: inline-block;
    /* Para que ocupen solo el ancho del contenido */
    font-weight: bold;
}

.status-pill {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
    /* Sombra inferior */
    transition: all 0.3s ease;
    /* Transición suave */
}

.status-pill:hover {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
    /* Sombra más suave al pasar el mouse */
    transform: translateY(10px);
    /* Efecto de levantamiento al pasar el mouse */
}


.list-group-item-action {
    transition: transform 0.3s ease;
    /* Transición suave */
}

.list-group-item-action:hover {
    transform: scale(1.05);
    /* Aumentar el tamaño al pasar el mouse */
}

.list-group-item {
    background-color: #ffffffeb;
}


.Welcome {
    margin-left: 10%;
    margin-top: 2%;
}


.progress-bar:hover {
    transform: scaleX(2.5);
    /* Aumenta el ancho de la barra al 120% */
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
    z-index: 1;
    /* Asegura que la barra de progreso esté por encima de otros elementos */
}

.date-info {
    position: sticky;
    top: 0;
    /* Mantendrá los datos en la parte superior del contenedor */
    background-color: #ffffffeb;
    /* Opcional: para que los datos sean visibles */
    padding: 5px;
    /* Opcional: para mejorar la presentación */
    border: 1px solid #ffffffeb;
    /* Opcional: para crear un borde */
    z-index: 1;
    /* Asegura que esté por encima del contenido desplazable */
}




