<div class="body">
    <h1 class="Welcome" style="font-size: 30px;">Welcome {{getAccountName()}} - {{ getAccessRole() }}</h1>
    <div class="container">
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by Project name or Status"
                aria-label="search by project name or person responsible" aria-describedby="button-addon2"
                [(ngModel)]="searchTerm" (input)="filterProjects()">
            <button *ngIf="!isAdminRole()" routerLink="/project" type="button" class="btn btn-warning">CREATE A NEW
                PROJECT</button>
        </div>
        <br>
        <div class="list-group">
            <a *ngFor="let project of filteredProjects" (click)="navigateToProjectView(project.idproject)"
                class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1">{{ project.project_name }}</h2>
                    <p><strong>{{ project.start_date }}</strong></p>
                </div>
                <p class="mb-1">{{ project.end_date }}</p>
                <div [ngClass]="{
                    'complete': project.status_project === 'COMPLETE',
                    'created': project.status_project === 'CREATED',
                    'pending': project.status_project === 'PENDING',
                    'active': project.status_project === 'ACTIVE'
                }" class="status-pill position-absolute bottom-0 end-0">{{ project.status_project }}</div>
                <div class="progress mt-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        [style.width.%]="project.prom" [attr.aria-valuenow]="project.prom" aria-valuemin="0"
                        aria-valuemax="100">
                        {{ project.prom }}%
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>