<div class="contenedor">
    <br>
    <h1 class="Welcome" style="font-size: 30px;">Welcome {{getAccountName()}} - {{ getAccessRole() }}</h1>

    <div class="container">
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control"
                placeholder="Search by Project name, Project Status or Name of person responsible"
                aria-label="search by project name or person responsible" aria-describedby="button-addon2"
                [(ngModel)]="searchTerm" (ngModelChange)="filterProjects()">
            <button *ngIf="!isAdminRole()" routerLink="/project" type="button"
                class="btn btn-dark custom-btn-dark">CREATE A NEW
                PROJECT</button>
        </div>

        <div class="btn-group" role="group" aria-label="Project Status Filters">
            <!-- Botón para filtrar proyectos con estado 'COMPLETE' -->
            <button type="button" class="btn btn-primary btn-reset" (click)="filterByStatus('ACTIVE')">Reset Filter</button>
            <!-- Botón para filtrar proyectos con estado 'PENDING' -->
            <button type="button" class="btn btn-danger btn-pending" (click)="filterByStatus('PENDING')">View PENDING
                Projects</button>
            <!-- Botón para filtrar proyectos con estado 'COMPLETE' -->
            <button type="button" class="btn btn-warning btn-complete" (click)="filterByStatus('COMPLETE')">View COMPLETE
                Projects</button>
        </div>

        <br>
        <div class="list-group">
            <a *ngFor="let project of filteredProjects" (click)="navigateToProjectView(project.idproject)"
                class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h1 class="mb-1"><strong>{{ project.project_name }}</strong></h1>
                    <div class="date-info">
                        <p>Start Date: <strong>{{ project.start_date }}</strong></p>
                        <p class="mb-1">End Date: <strong>{{ project.end_date }}</strong></p>
                    </div>
                </div>
                <p class="mb-1"><strong>{{ project.person_name }}</strong></p>
                <div [ngClass]="{
                    'complete': project.status_project === 'COMPLETE',
                    'created': project.status_project === 'CREATED',
                    'pending': project.status_project === 'PENDING',
                    'active': project.status_project === 'ACTIVE'
                }" class="status-pill position-absolute bottom-0 end-0">{{ project.status_project }}</div>
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ width: project.prom + '%' }"
                        [attr.aria-valuenow]="project.prom" aria-valuemin="0" aria-valuemax="100">
                        {{ project.prom | number:'1.1-1' }}%
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>