<div class="container" *ngIf="projectDetails && projectDetails.length > 0">
    <br>
    <div class="d-flex justify-content-between">
        <div class="return-back">
            <button routerLink="/home" class="btn btn-info">Back</button>
        </div>
        <br>
        <div class="title">
            <h1 class="ResumeProject"><strong>{{ projectDetails[0].project_name }}</strong>
            </h1>
        </div>
        <br>
        <div class="edith_reg">
            <button *ngIf="!isAdminRole()" [routerLink]="['/dbeditproject', projectID]"
                class="btn btn-warning">Edit</button>
        </div>
    </div>
    <br>
    <div class="date_created">
        <h2>Created Date: {{ projectDetails[0].start_date }}</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="responsable">
                <h1 for="exampleTextarea">Responsible:</h1>
                <h1>{{ nameperson }}</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="status_projects">
                <h3 [ngClass]="{
                    'complete': projectDetails[0].status_project === 'COMPLETE',
                    'created': projectDetails[0].status_project === 'CREATED',
                    'pending': projectDetails[0].status_project === 'PENDING',
                    'active': projectDetails[0].status_project === 'ACTIVE'
                }">{{ projectDetails[0].status_project }}</h3>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <h1 for="exampleTextarea">Description:</h1>
        <div>{{ projectDetails[0].description }}</div>
    </div>
    <br>
    <div class="participants" *ngIf="filteredParticipants && filteredParticipants.length > 0">
        <h2>Participants</h2>
        <div class="participant-container">
            <ng-container *ngFor="let participant of filteredParticipants">
                <div class="participant">
                    <i class="material-icons">person</i>
                    <span>{{ getUserName(participant.person_idactive) }}</span>
                </div>
            </ng-container>
        </div>
    </div>    
    <br>
    <div class="kpis_performance">
    </div>
</div>