.ResumeProject {
    color: rgb(0,0,0);
    font-size: 40px;
    /* Establece el tamaño del texto al 3% del ancho de la ventana */
    word-wrap: break-word;
    max-width: 100%;
    display: block;
}



.status_projects {
    text-align: right;
    /* Alinear el texto a la derecha */
    margin-top: -20px;
    /* Ajustar el margen para alinear con la fecha */
}

.complete {
    background-color: #FDBE50;
    color: rgb(0, 0, 0);
    /* Para asegurarse de que el texto sea legible */
    padding: 5px 10px;
    /* Ajustar el relleno según sea necesario */
    border-radius: 10px;
    /* Para redondear los bordes */
    display: inline-block;
    /* Para que ocupen solo el ancho del contenido */
    font-weight: bold;
}

.created {
    background-color: rgb(253, 148, 28);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

.pending {
    background-color: rgb(79, 185, 192);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

.active {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    /* Para asegurarse de que el texto sea legible */
    padding: 5px 10px;
    /* Ajustar el relleno según sea necesario */
    border-radius: 10px;
    /* Para redondear los bordes */
    display: inline-block;
    /* Para que ocupen solo el ancho del contenido */
    font-weight: bold;
}

.status-pill {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
    /* Sombra inferior */
    transition: all 0.3s ease;
    /* Transición suave */
}

.status-pill:hover {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
    /* Sombra más suave al pasar el mouse */
    transform: translateY(10px);
    /* Efecto de levantamiento al pasar el mouse */
}

/* text area  */
.form-group {
    text-align: justify;
    /* Justifica el texto */
    margin: auto;
    /* Centra horizontalmente */
}

.form-label {
    font-size: 12px;
    /* Tamaño del texto para la etiqueta */
    color: rgb(0, 0, 0);
    /* Color del texto */
}

.form-group p {
    font-size: 18px;
    /* Tamaño del texto del párrafo */
    color: rgb(0, 0, 0);
    /* Color del texto */
    margin-top: 10px;
    /* Añade un margen superior para separar del título */
    line-height: 1.6;
    /* Espaciado entre líneas del párrafo */
}


/* participantes  */

.participants {
    margin-top: 20px;
}

.participant-container {
    display: flex;
    flex-wrap: wrap;
}

.participant {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: white;
    color: black;
    background-color: white;
}

.participant i {
    margin-right: 5px;
    border-color: black;
}

.participant span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.progress-bar {
    font-size: 15px;
    /* Ajusta el tamaño de la fuente según tus necesidades */
    height: 18px;
    /* Ajusta la altura de la barra de progreso según tus necesidades */
}

.progress {
    line-height: 30px;
    /* Ajusta el alto del contenedor de la barra de progreso según tus necesidades */
}

/* Boton de retorno */
.btn-back{
    background-color: #4CAF50;
    border-color: #4CAF50;
}
.btn-back:hover{
    border-color: #4CAF50;
    color: black;
}

.title, .responsable-name, .date_data, .text-des {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.toggle-description {
    cursor: pointer;
  }
  
.btn-edit, .btn-edit:hover{
    background-color: #FDBE50;
    border-color: #FDBE50;
}
