<div class="container" *ngIf="projectDetails && projectDetails.length > 0">
    <br>
    <div class="d-flex justify-content-between">
        <div class="return-back">
            <button routerLink="/home" class="btn btn-info">Back</button>
        </div>
        <br>
        <div class="title">
            <h1 class="ResumeProject" style="font-size: 50px;"><strong>{{ projectDetails[0].project_name }}</strong>
            </h1>
        </div>
        <br>
        <div class="edith_reg">
            <button [routerLink]="['/dbeditproject', projectID]" class="btn btn-warning">Edit</button>
        </div>
    </div>
    <br>
    <div class="date_created">
        <h2>Created Date: {{ projectDetails[0].start_date }}</h2>
    </div>
    <br>
    <div class="status_projects">
        <h3 [ngClass]="{
            'complete': projectDetails[0].status_project === 'COMPLETE',
            'created': projectDetails[0].status_project === 'CREATED',
            'pending': projectDetails[0].status_project === 'PENDING',
            'active': projectDetails[0].status_project === 'ACTIVE'
        }"> {{ projectDetails[0].status_project }}</h3>
    </div>
    <br>
    <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4"><strong>Description:</strong></label>
        <p>{{ projectDetails[0].description }}</p>
    </div>
    <div class="participants">
        <label for="exampleTextarea" class="form-label mt-4"><strong>Responsable:</strong></label>
        <p>{{ projectDetails[0].person_full_name }}</p>
    </div>
</div>