/* Estilos personalizados */
.custom-table {
    width: 80%; /* Reducido para ajustar al contenedor */
    margin: 0 auto; /* Centrar la tabla */
    border-collapse: separate;
    border-spacing: 0 8px; /* Espacio entre filas */
}

.custom-table th, .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6; /* Borde inferior para separar filas */
    border-radius: 15px; /* Redondeado en las esquinas de las celdas */
}

.custom-table th {
    text-align: center;
    background-color: #1a72ca;
    color: #fff;
}

.custom-table tbody tr:hover td {
    background-color: #f5f5f5;
    cursor: pointer; /* Cambio de cursor al pasar por encima */
    border-radius: 15px; /* Redondeado en las esquinas de las celdas */
}

.custom-table tbody tr {
    transition: transform 0.3s ease; /* Transición suave */
}

.custom-table tbody tr:hover {
    transform: rotateX(360deg); /* Rotación vertical al pasar el cursor */
}



.project-name {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    text-align: center; /* Centrar el título */
    margin-top: 20px; /* Ajuste de margen superior */
}
