/* Agrega estilos personalizados aquí */

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    margin-right: 10px;
}


.title {
    text-align: center; /* Centrar el título */
    margin-top: 20px; /* Ajuste de margen superior */
}