.title {
    margin-left: 10%;
    margin-top: 2%;
}

.table-primary {
    --bs-table-color: #fff;
    --bs-table-bg: #1a72ca;
}

.btn-edit{
    background-color: #FDBE50;
    border-color: #FDBE50;
    color: white;
}

.btn-follow{
    background-color: #4CAF50;
    border-color:#4CAF50;
    color: rgb(255, 255, 255);
}